# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.pytest_cache/

# Node
node_modules/
dist/

# Env
.env
.env.*

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Django static/media
backend/staticfiles/
backend/media/
